:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --gap: 1em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2 * var(--gap));
  height: calc(100dvh - 2 * var(--gap));
}

#scores {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

#app {
  display: grid;
  grid-template-columns: repeat(4, minmax(calc((100% - 3 * var(--gap)) / 4), 100px));
  grid-template-rows: repeat(4, 1fr);
  gap: var(--gap);
}

.win-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#play-again {
  padding: 0.5em 1em;
  font-size: large;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#play-again:hover {
  background-color: #d10000;
}
.hidden {
  display: none;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  background-color: #9f9f9f;
  font-size: 2em;
  border-radius: 5px;
  /* transition: 0.4s; */
}

.block-0 {font-size: 0em;}
.block-2 {background-color: #ff9494;}
.block-4 {background-color: #c0dd4a;}
.block-8 {background-color: #94cbff;}
.block-16 {background-color: #a894ff;}
.block-32 {background-color: #e856ff;}
.block-64 {background-color: #60b043;}
.block-128 {background-color: #9497ff;}
.block-256 {background-color: #b63bb1;}
.block-512 {background-color: #ff0000;}
.block-1024 {background-color: #4000ff;}
.block-2048 {background-color: #ff00fb;}